@*@using Microsoft.Marketplace.SaasKit.Models*@

@using Marketplace.SaaS.Accelerator.Services.Models
@model Marketplace.SaaS.Accelerator.Services.Models.SubscriptionResultExtension

@{
    ViewData["Title"] = "Home";
}
@if (!Model.ShowWelcomeScreen)
{
    <div class="container" id="divHome">
        <form method="post" id="frmIndex">

            <div class="text-white mt20">
                <span class="cm-section-heading">Subscription Details</span>
            </div>
            @if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong> Some Error Occurred During Operation!
                </div>
            }
            else
            {
                <div class="cm-panel-default mt20">
                    <dl class="row text-left">
                        <dt class="col-sm-3 p-2 p10">
                            @Html.DisplayName("Customer Email")
                        </dt>
                        <dd class="col-sm-9 p-2 p10">
                            @Html.DisplayFor(model => model.CustomerEmailAddress)
                        </dd>
                        <dt class="col-sm-3 p-2 p10">
                            @Html.DisplayName("Customer Name ")
                        </dt>
                        <dd class="col-sm-9 p-2 p10">
                            @Html.DisplayFor(model => model.CustomerName)
                        </dd>
                        <dt class="col-sm-3 p-2 p10">
                            @Html.DisplayName("ID ")
                        </dt>
                        <dd class="col-sm-9 p-2 p10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-3 p-2 p10">
                            @Html.DisplayName("Name ")
                        </dt>
                        <dd class="col-sm-9 p-2">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-3 p-2 p10">
                            @Html.DisplayName("Status ")
                        </dt>
                        <dd class="col-sm-9 p-2 p10">
                            @Html.DisplayFor(model => model.SubscriptionStatus)
                        </dd>
                        <dt class="col-sm-3 p-2 p10">
                            @Html.DisplayName("Offer Name ")
                        </dt>
                        <dd class="col-sm-9 p-2 p10">
                            @Html.DisplayFor(model => model.OfferId)
                        </dd>
                        <dt class="col-sm-3 p-2 p10">
                            @Html.DisplayName("Plan ")
                        </dt>
                        <dd class="col-sm-9 p-2 p10">
                            @Html.DisplayFor(model => model.PlanId)
                        </dd>
                        <dt class="col-sm-3 p-2 p10">
                            @Html.DisplayName("Purchaser Email ")
                        </dt>
                        <dd class="col-sm-9 p-2 p10">
                            @Html.DisplayFor(model => model.Purchaser.EmailId)
                            @Html.HiddenFor(model => model.Purchaser.EmailId)
                        </dd>

                        <dt class="col-sm-3 p-2 p10">
                            @Html.DisplayName("Azure Tenant ID ")
                        </dt>
                        <dd class="col-sm-9 p-2 p10">
                            @Html.DisplayFor(model => model.Purchaser.TenantId)
                            @Html.HiddenFor(model => model.Purchaser.TenantId)
                        </dd>

                        @if (Model.SubscriptionParameters != null && Model.SubscriptionParameters.Count() > 0)
                        {

                            for (int i = 0; i < Model.SubscriptionParameters.Count(); i++)
                            {
                                @Html.HiddenFor(model => model.SubscriptionParameters[i].Id)
                                @Html.HiddenFor(model => model.SubscriptionParameters[i].PlanAttributeId)
                                @Html.HiddenFor(model => model.SubscriptionParameters[i].ValueType)
                                @Html.HiddenFor(model => model.SubscriptionParameters[i].PlanId)
                                @Html.HiddenFor(model => model.SubscriptionParameters[i].OfferId)
                                @Html.HiddenFor(model => model.SubscriptionParameters[i].SubscriptionId)
                                @Html.HiddenFor(model => model.SubscriptionParameters[i].DisplayName)
                                @Html.HiddenFor(model => model.SubscriptionParameters[i].Type)

                                if (Model.SubscriptionStatus == SubscriptionStatusEnumExtension.PendingFulfillmentStart)
                                {
                                    <dt class="col-sm-3 p-2 p10 @Model.SubscriptionParameters[i].Type">
                                        @Html.DisplayFor(model => model.SubscriptionParameters[i].DisplayName, new { required = "required", @class = @Model.SubscriptionParameters[i].Type })
                                        @if (Model.SubscriptionParameters[i].IsRequired == true)
                                        {<span class="red-star @Model.SubscriptionParameters[i].Type">*</span>}


                                    </dt>
                                }
                                else
                                {
                                    @if (Model.SubscriptionParameters[i].Type.ToLower() == "input")
                                    {
                                        <dt class="col-sm-3 p-2 p10 @Model.SubscriptionParameters[i].Type">
                                            @Html.DisplayFor(model => model.SubscriptionParameters[i].DisplayName)
                                        </dt>
                                    }
                                }

                                @if (Model.SubscriptionStatus == SubscriptionStatusEnumExtension.PendingFulfillmentStart)
                                {
                                    @if (Model.SubscriptionParameters[i].FromList == true)
                                    {
                                        var data = Model.SubscriptionParameters[i].ValuesList;
                                        var selectList = new SelectList(data.Split(','));


                                        <dd class="col-sm-9 p-2 p10 @Model.SubscriptionParameters[i].Type">

                                            @if (Model.SubscriptionParameters[i].IsRequired == true)
                                            {
                                                @Html.DropDownList(string.Format("SubscriptionParameters[{0}].Value", @i), selectList, new { @class = @Model.SubscriptionParameters[i].Type + " w200", @required = "required", name = string.Format("SubscriptionParameters[{0}].Value", @i), @id = string.Format("SubscriptionParameters_{0}__Value", @i) })

                                            }
                                            else
                                            {
                                                @Html.DropDownList(string.Format("SubscriptionParameters[{0}].Value", @i), selectList, new { @class = @Model.SubscriptionParameters[i].Type + " w200", name = string.Format("SubscriptionParameters[{0}].Value", @i), @id = string.Format("SubscriptionParameters_{0}__Value", @i) })

                                            }

                                        </dd>

                                    }
                                    else if (Model.SubscriptionParameters[i].Htmltype == "date")
                                    {
                                        <dd class="col-sm-9 p-2 p10 @Model.SubscriptionParameters[i].Type">

                                            @if (Model.SubscriptionParameters[i].IsRequired == true)
                                            {
                                                @Html.TextBoxFor(model => model.SubscriptionParameters[i].Value, new { @class = @Model.SubscriptionParameters[i].Type + " w200", @required = "required", @type = @Model.SubscriptionParameters[i].Htmltype })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.SubscriptionParameters[i].Value, new { @class = @Model.SubscriptionParameters[i].Type + " w200", @type = @Model.SubscriptionParameters[i].Htmltype })
                                            }

                                        </dd>
                                    }
                                    else
                                    {
                                        <dd class="col-sm-9 p-2 p10 @Model.SubscriptionParameters[i].Type">

                                            @if (Model.SubscriptionParameters[i].IsRequired == true)
                                            {
                                                @Html.TextBoxFor(model => model.SubscriptionParameters[i].Value, new { @class = @Model.SubscriptionParameters[i].Type + " w200", @required = "required", @type = @Model.SubscriptionParameters[i].Htmltype })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.SubscriptionParameters[i].Value, new { @class = @Model.SubscriptionParameters[i].Type + " w200", @type = @Model.SubscriptionParameters[i].Htmltype })
                                            }

                                        </dd>
                                    }
                                }
                                else
                                {
                                    @if (Model.SubscriptionParameters[i].Type.ToLower() == "input")
                                    {
                                        <dd class="col-sm-9 p-2 p10  @Model.SubscriptionParameters[i].Type">
                                            @Html.DisplayFor(model => model.SubscriptionParameters[i].Value)
                                            @Html.HiddenFor(model => model.SubscriptionParameters[i].Value)
                                        </dd>
                                    }
                                }
                            }

                        }

                    </dl>
                </div>
                <div class="text-end">
                    @if (Model.SubscriptionStatus == SubscriptionStatusEnumExtension.Subscribed)
                    {
                        <button type="submit" asp-action="SubscriptionOperation" asp-route-subscriptionId="@Model.Id" asp-route-planId="@Model.PlanId" asp-route-operation="Deactivate" class="cm-button-danger text-right">Unsubscribe</button>
                        <button type="submit" asp-action="Subscriptions" class="cm-button-default text-end">Go to Subscription List</button>
                    }
                    @if (Model.SubscriptionStatus == SubscriptionStatusEnumExtension.PendingFulfillmentStart && Model.IsAutomaticProvisioningSupported == true)
                    {
                        <a onclick="SubscriptionOperation('@Model.Id','@Model.PlanId','Activate')" id="btnActive" class="cm-button-default text-end">Activate</a>
                    }
                    @if (Model.SubscriptionStatus == SubscriptionStatusEnumExtension.PendingFulfillmentStart && Model.IsAutomaticProvisioningSupported == false)
                    {
                        <a onclick="SubscriptionOperation('@Model.Id','@Model.PlanId','Activate')" id="btnActive" class="cm-button-default text-end" style="text-decoration:none;">Subscribe</a>
                    }
                </div>
            }
        </form>
    </div>
}
else
{
    <div>
    <link href="https://unpkg.com/animate.css@4.1.1/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
        <head>
            <style data-tag="reset-style-sheet">
            html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;  -webkit-font-smoothing: antialiased;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;  color: inherit;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}details {  display: block;  margin: 0;  padding: 0;}summary::-webkit-details-marker {  display: none;}[data-thq="accordion"] [data-thq="accordion-content"] {  max-height: 0;  overflow: hidden;  transition: max-height 0.3s ease-in-out;  padding: 0;}[data-thq="accordion"] details[data-thq="accordion-trigger"][open] + [data-thq="accordion-content"] {  max-height: 1000vh;}details[data-thq="accordion-trigger"][open] summary [data-thq="accordion-icon"] {  transform: rotate(180deg);}html { scroll-behavior: smooth  }
            </style>
            <style data-tag="default-style-sheet">
            html {
                font-family: Inter;
                font-size: 16px;
            }

            body {
                font-weight: 400;
                font-style:normal;
                text-decoration: none;
                text-transform: none;
                letter-spacing: normal;
                line-height: 1.15;
                color: var(--dl-color-theme-neutral-dark);
                background: var(--dl-color-theme-neutral-light);

                fill: var(--dl-color-theme-neutral-dark);
            }
            </style>
                <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
            />
            <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            data-tag="font"
            />
            <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
            data-tag="font"
            />
            <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            data-tag="font"
            />
        </head>
          <body>
            <link rel="stylesheet" href="~/css/index.css" />
            <link rel="stylesheet" href="~/css/style.css" />
            <link rel="stylesheet" href="~/index.css" />
            <link rel="stylesheet" href="~/style.css" />

            <div class="home-container">
                <hero17-wrapper class="hero17-wrapper">
                <!--Hero17 component-->
                <div class="hero17-header78">
                    <div
                    class="hero17-column thq-section-max-width thq-section-padding"
                    >
                    <div class="hero17-content1">
                        <h1 class="hero17-text1 thq-heading-1">
                        <fragment class="home-fragment12">
                            <span class="home-text16">Welcome to pQCee</span>
                        </fragment>
                        </h1>
                        <p class="hero17-text2 thq-body-large">
                        <fragment class="home-fragment11">
                            <span class="home-text11">
                            <span>Be Quantum Ready&nbsp;</span>
                            <br />
                            <span>Start your quantum readiness journey early</span>
                            <br />
                            </span>
                        </fragment>
                        </p>
                    </div>
                    <div class="hero17-actions">
                        <button class="thq-button-filled hero17-button">
                        <a
                            href="https://www.pqcee.com/"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="hero17-text3 thq-body-small"
                        >
                            <fragment class="home-fragment10">
                            <span class="home-text10">Visti Website</span>
                            </fragment>
                        </a>
                        </button>
                    </div>
                    </div>
                    <div>
                    @* <div class="hero17-container2">
                        <style>
                        @keyframes scroll-x {
                            from {
                            transform: translateX(0);
                            }
                            to {
                            transform: translateX(calc(-100% - 16px));
                            }
                        }

                        @keyframes scroll-y {
                            from {
                            transform: translateY(0);
                            }
                            to {
                            transform: translateY(calc(-100% - 16px));
                            }
                        }
                        </style>
                    </div> *@
                    </div>
                </div>
                </hero17-wrapper>
                <features20-wrapper class="features20-wrapper">
                <!--Features20 component-->
                <a
                    href="https://portal.azure.com/?microsoft_azure_marketplace_ItemHideKey=70d7501b-5590-4069-9394-12faf9dbc32d#view/Microsoft_Azure_Marketplace/GalleryItemDetailsBladeNopdl/preview/undefined/id/pqceepteltd1686816032301.sqee-pilot-preview/resourceGroupId//resourceGroupLocation//dontDiscardJourney~/false/_provisioningContext~/%7B%22initialValues%22%3A%7B%22subscriptionIds%22%3A%5B%22b2a620cd-f90e-4e79-abe3-85633e5b78b3%22%5D%2C%22resourceGroupNames%22%3A%5B%5D%2C%22locationNames%22%3A%5B%22australiaeast%22%5D%7D%2C%22telemetryId%22%3A%22aa38c252-8b13-47a4-b8a1-e98dc9a9b00f%22%2C%22marketplaceItem%22%3A%7B%22categoryIds%22%3A%5B%5D%2C%22id%22%3A%22Microsoft.Portal%22%2C%22itemDisplayName%22%3A%22NoMarketplace%22%2C%22products%22%3A%5B%5D%2C%22version%22%3A%22%22%2C%22productsWithNoPricing%22%3A%5B%5D%2C%22publisherDisplayName%22%3A%22Microsoft.Portal%22%2C%22deploymentName%22%3A%22NoMarketplace%22%2C%22launchingContext%22%3A%7B%22telemetryId%22%3A%22aa38c252-8b13-47a4-b8a1-e98dc9a9b00f%22%2C%22source%22%3A%5B%5D%2C%22galleryItemId%22%3A%22%22%7D%2C%22deploymentTemplateFileUris%22%3A%7B%7D%2C%22uiMetadata%22%3Anull%7D%7D"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="features20-link"
                >
                    <div class="features20-layout349 thq-section-padding">
                    <div class="features20-max-width thq-section-max-width">
                        <div class="features20-content1">
                        <div class="features20-section-title">
                            <div class="features20-content2">
                            <h2 class="thq-heading-2">
                                <fragment class="home-fragment13">
                                <span class="home-text17">
                                    SafeQuard Quantum-safe Encrypted Email
                                </span>
                                </fragment>
                            </h2>
                            <p class="thq-body-large">
                                <fragment class="home-fragment14">
                                <span class="home-text18">
                                    SafeGuard Quantum-safe Encrypted Email (Managed
                                    Pilot) is a cutting-edge solution designed to
                                    protect sensitive communications against current and
                                    future cyber threats. Leveraging quantum-safe
                                    encryption technologies, this service ensures that
                                    your email communications remain secure even in the
                                    face of emerging quantum computing capabilities.
                                </span>
                                </fragment>
                            </p>
                            </div>
                            <div class="features20-actions"></div>
                        </div>
                        </div>
                        <div class="features20-image-container">
                            <img
                                src="~/safequard-400h.jpg"
                                alt="image"
                                class="features20-image"
                            />
                        </div>
                    </div>
                    </div>
                </a>
                </features20-wrapper>
                <features19-wrapper class="features19-wrapper">
                <!--Features19 component-->
                <a
                    href="https://portal.azure.com/?microsoft_azure_marketplace_ItemHideKey=32e5ebbb-596e-4be7-8b6b-8189e9c8636b#view/Microsoft_Azure_Marketplace/GalleryItemDetailsBladeNopdl/preview/undefined/id/pqceepteltd1686816032301.quicscript-preview/resourceGroupId//resourceGroupLocation//dontDiscardJourney~/false/_provisioningContext~/%7B%22initialValues%22%3A%7B%22subscriptionIds%22%3A%5B%22b2a620cd-f90e-4e79-abe3-85633e5b78b3%22%5D%2C%22resourceGroupNames%22%3A%5B%5D%2C%22locationNames%22%3A%5B%22australiaeast%22%5D%7D%2C%22telemetryId%22%3A%221ad8ef85-cad0-47d8-9e3f-8b7a14e2c00f%22%2C%22marketplaceItem%22%3A%7B%22categoryIds%22%3A%5B%5D%2C%22id%22%3A%22Microsoft.Portal%22%2C%22itemDisplayName%22%3A%22NoMarketplace%22%2C%22products%22%3A%5B%5D%2C%22version%22%3A%22%22%2C%22productsWithNoPricing%22%3A%5B%5D%2C%22publisherDisplayName%22%3A%22Microsoft.Portal%22%2C%22deploymentName%22%3A%22NoMarketplace%22%2C%22launchingContext%22%3A%7B%22telemetryId%22%3A%221ad8ef85-cad0-47d8-9e3f-8b7a14e2c00f%22%2C%22source%22%3A%5B%5D%2C%22galleryItemId%22%3A%22%22%7D%2C%22deploymentTemplateFileUris%22%3A%7B%7D%2C%22uiMetadata%22%3Anull%7D%7D"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="features19-link"
                >
                    <div class="features19-layout349 thq-section-padding">
                    <div class="features19-max-width thq-section-max-width">
                        <div class="features19-image-container">
                        <img
                            src="~/quicscript-300h.jpg"
                            alt="image"
                            class="features19-image"
                        />
                        </div>
                        <div class="features19-content1">
                        <div class="features19-section-title">
                            <div class="features19-content2">
                            <h2 class="thq-heading-2">
                                <fragment class="home-fragment15">
                                <span class="home-text19">
                                    QuICScript - Quantum in a browser
                                </span>
                                </fragment>
                            </h2>
                            <p class="thq-body-large">
                                <fragment class="home-fragment16">
                                <span class="home-text20">
                                    <span>
                                    QuICScript is a software-based quantum emulator.
                                    The unique feature of QuICScript is its standalone
                                    execution capability on the end-user device. The
                                    entire quantum computation happens locally within
                                    the end-user’s browser, making it easy to onboard
                                    and execute. Use QuICScript to start learning
                                    about quantum algorithms and applying quantum
                                    techniques to specific process optimization or
                                    data search scenarios.
                                    </span>
                                    <br />
                                </span>
                                </fragment>
                            </p>
                            </div>
                            <div class="features19-actions"></div>
                        </div>
                        </div>
                    </div>
                    </div>
                </a>
                </features19-wrapper>
                <cta26-wrapper class="cta26-wrapper">
                <!--CTA26 component-->
                <div class="thq-section-padding">
                    <div class="thq-section-max-width">
                    <div class="cta26-accent2-bg">
                        <div class="cta26-accent1-bg">
                        <div class="cta26-container2">
                            <div class="cta26-content">
                            <span class="thq-heading-2">
                                <fragment class="home-fragment19">
                                <span class="home-text25">
                                    Ready to start your Quantum Journey?
                                </span>
                                </fragment>
                            </span>
                            <p class="thq-body-large">
                                <fragment class="home-fragment18">
                                <span class="home-text24">
                                    Explore our many other products over here on azure
                                    marketplace!
                                </span>
                                </fragment>
                            </p>
                            </div>
                            <div class="cta26-actions">
                            <a
                                href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps?search=pqcee&amp;page=1"
                                target="_blank"
                                rel="noreferrer noopener"
                                class="cta26-link thq-button-filled"
                            >
                                <span>
                                <fragment class="home-fragment17">
                                    <span class="home-text23">Explore Products</span>
                                </fragment>
                                </span>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </cta26-wrapper>
                <footer4-wrapper class="footer4-wrapper">
                <!--Footer4 component-->
                <footer class="footer4-footer7 thq-section-padding">
                    <div class="footer4-max-width thq-section-max-width">
                    <img
                        src="~/pqcee-logo-crop-200h.png"
                        alt="image"
                        class="footer4-image"
                    />
                    <div class="footer4-content">
                        <div class="footer4-links">
                        <a
                            href="https://x.com/pqcee_com"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="thq-body-small"
                        >
                            <fragment class="home-fragment20">
                            <span class="home-text26">X</span>
                            </fragment>
                        </a>
                        <a
                            href="https://www.youtube.com/pQCee"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="thq-body-small"
                        >
                            <fragment class="home-fragment21">
                            <span class="home-text27">Youtube</span>
                            </fragment>
                        </a>
                        <a
                            href="https://sg.linkedin.com/company/pqcee"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="thq-body-small"
                        >
                            <fragment class="home-fragment22">
                            <span class="home-text28">Linkedin</span>
                            </fragment>
                        </a>
                        </div>
                    </div>
                    <div class="footer4-credits">
                        <div class="thq-divider-horizontal"></div>
                        <div class="footer4-row">
                        <div class="footer4-container">
                            <span class="thq-body-small">© 2025 pQCee</span>
                        </div>
                        <div class="footer4-footer-links">
                            <span class="footer4-text2 thq-body-small">
                            <fragment class="home-fragment23">
                                <span class="home-text29">
                                Please contact info@pqcee.com for more information
                                </span>
                            </fragment>
                            </span>
                        </div>
                        </div>
                    </div>
                    </div>
                </footer>
                </footer4-wrapper>
            </div>
            </div>
        </body>
    <div>
   
    </div>
    </div>
}
<script type="text/javascript">

    function SubscriptionOperation(subscriptionId, planId, operation) {
        if (validate()) {
            var formobject = $('#frmIndex').serialize();
            var csrftoken = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Home/SubscriptionOperation',
                type: 'POST',
                headers: { RequestVerificationToken: csrftoken },
                data: formobject + "&subscriptionId=" + subscriptionId + "&planId=" + planId + "&operation=" + operation,
                cache: false,
                success: function (result) {
                    $('#divIndex').html(result);
                },
                Error:
                    function (result) {
                        $('#divIndex').html(result);
                    }
            });
        }
        else {
            swal({
                title: "Required",
                text: "Please fill all required values",
                icon: "warning"
            })

        }
    }


    function validate() {
        var valid = true;
        $(':input[required]:visible').each(function () {
            if ($(this).val() == "") //check loginc here
                return valid = false;
        });
        return valid;
    }
</script>
